/*
Theme Name: ezdayfitness-child
Template: ezdayfitness-child
*/
[data-id="a2c02e2"]{
    z-index: 1 !important;
    background-color: transparent;
}
[data-id]{
    z-index: 2;
    background-color: #fff;
}
#theme-banner-three::before{
    background: url(../ezdayfitness-child/assets/imgs/03.png) 0 0 repeat transparent;
    z-index: 0;
}

.section-portfo .section-num.show-pr span, .section-portfo .section-num::before{
    display: none;
}

.theme-title-two::first-letter, .theme-title-two{
    color: #000;
    text-shadow: 2px -0.9px 0px rgba(230, 39, 20, 1)
}

.theme-title-two span {
    color:  #e62714;
    text-shadow: none;
}

.theme-main-menu.theme-menu-three.fixed {
    background: rgba(0,0,0,0.8);
}

#theme-banner-three .main-title i, .about-me-portfo .inner-content .profile-tab .nav-tabs .nav-item.show .nav-link, .about-me-portfo .inner-content .profile-tab .nav-tabs .nav-link.active {
    color: #e62714;
}

.skill-section-portfo::before, .portfo-testimonial::before{
    display: none;
}

.about-me-portfo .inner-content .button-group li .hire-button, .about-me-portfo .inner-content .profile-tab .nav-tabs .nav-link, .our-service-portfo .service-block .title a{
    color: #000;
}

.about-me-portfo .inner-content .button-group li .hire-button{
    border: 1px solid #000;
}

.section-portfo{
    border-bottom: none;
    margin-bottom: 0px;
}

.our-service-portfo .service-block{
    background-color: #e62714;
    border: 5px solid #000;
}

.our-service-portfo .service-block p{
    color: #fff;
}

#theme-banner-three::before{
    transform: none;
    top:0;
    left:0;
    border-radius: 0;
    width: 100%;
    height: 100vh;
}

#theme-banner-three{
    height: 100vh;
    padding: 320px 0 154px;
}

[data-id] {
    z-index: 2;
    background-color: transparent;
}

.theme-menu-three .navbar-nav .nav-item .nav-link{
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 0.5px;
}

.theme-footer-one .top-footer .title{
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.theme-footer-one .top-footer .widget_nav_menu ul li a, .theme-footer-one .top-footer .footer-information p, .theme-footer-one .about-widget .email, .theme-footer-one .about-widget .phone{
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #000;
}

.theme-footer-one .bottom-footer p, .theme-footer-one .bottom-footer ul li{
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    letter-spacing: 5.5px;
    font-size: 11px;
}

.theme-footer-one .bottom-footer ul li a{
    color: #000;
}

.theme-menu-three .navbar-nav .nav-item .nav-link::before{
    background: #E62714;
    bottom: -1px;
}

.theme-menu-three .header-right-widget .social-icon li a:hover{
    background:#E62714;
    border-color:#E62714;
}

.solid-inner-banner .page-title{
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 5.5px;
}

.solid-inner-banner .page-breadcrumbs li{
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
    color: #7A7A7A;
}

.solid-inner-banner .page-breadcrumbs li a{
    color: #7A7A7A;
}

.solid-inner-banner{
    padding: 265px 0px 0 !important;
    position: relative;
}

.solid-inner-banner .page-breadcrumbs{
    padding: 5px 5px;
    text-align: left;
}

.solid-inner-banner .page-breadcrumbs li i{
    color: #E62714;
}

#footer .shape-one, #footer .shape-two{
    display: none;
}

.solid-inner-banner::before{
    background: url(../ezdayfitness-child/assets/imgs/03.png) 0 0 repeat transparent;
    z-index: 0;
    transform: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    content: " ";
}

.solid-inner-banner .page-title, .solid-inner-banner .page-breadcrumbs{
    z-index: 2;
    position: relative;
}

.n2-ss-slide-background-image{
    position:relative;
}
.n2-ss-slide-background-image::after{
    background: url(../ezdayfitness-child/assets/imgs/03.png) 0 0 repeat transparent;
    z-index: 0;
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.wpcf7-form{}

.wpcf7-form .input-group{
    display: block;
}

.wpcf7-form .input-group .wpcf7-form-control-wrap{
    display: block;
}

.wpcf7-form .input-group label{
    margin-bottom: 3px;
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
    color: #000;
    letter-spacing: 1.5px;
}

.wpcf7-form .input-group input[type=text], .wpcf7-form .input-group input[type=email], .wpcf7-form .input-group textarea{
    border: 1px solid #000;
    font-size: 15px;
    color: #000;
    font-family: "Open Sans", Sans-serif;
    height: auto;
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 25px;
}

.wpcf7-form input[type=submit]{
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1.5px;
    border: none;
    padding: 10px 30px;
    height: auto;
    line-height: 20px;
}

.theme-footer-one .bottom-footer{
    margin-top: 0px !important;
}

.theme-footer-one.top-border{
    padding-top: 35px;
}

.arch-blog .blog-post{
    margin-top: 0px;
}

.arch-blog .blog-post .read-more{
    background-color: #E62714;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    color: #fff;
    border: none;
    letter-spacing: 1.5px;
    font-weight: 300;
}

.agn-home-blog .single-blog-post .title{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-family: "Montserrat", Sans-serif;
}

.agn-home-blog .single-blog-post .title a{
    color: #233D63;
}

.agn-home-blog .single-blog-post .flip-box-front{
    color:#000000;
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    line-height: 23px;
}

.blog-details h2,.blog-details h3,.blog-details h4 ,.blog-details h5, .blog-details h6{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-family: "Montserrat", Sans-serif;
}

.blog-details p{
    color:#000000;
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    line-height: 23px;
}

.theme-sidebar-widget .widget_categories li a{
    display: inline;
}

.error-creative-content .inner-wrapper h2{
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 5.5px;
}

.error-creative-content .inner-wrapper p{
    color:#fff;
    font-family: "Open Sans", Sans-serif;
    font-size: 25px;
    font-weight: 300;
}

body .solid-button-one{
    border: none;
    border-radius: 0px;
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background-color: #E62714 !important;
    letter-spacing: 1.5px;
}

body .solid-button-one:hover{
    background-color: #E62714 !important;
    color: #fff;
}

.error-creative-content{
    position: relative;
}

.error-creative-content:before{
    content: " ";
    width:100%;
    height: 100%;
    position: absolute;
    background: url(../ezdayfitness-child/assets/imgs/03.png) 0 0 repeat transparent;
}

.agn-home-blog{
    padding: 0px;
}

.agn-home-blog .theme-title-one {
    padding-bottom: 0px;
}

.blog-details.pt-150{
    padding-top: 100px;
}

.solid-inner-banner {
    background-image: url(http://ezdayfitness.com/wp-content/uploads/2020/01/30855709_160637938106542_8482370705189502976_n.jpg);
    background-size: cover;
}

.theme-footer-one .top-footer .footer-information ul li a:hover{

}

.theme-footer-one .top-footer .footer-information ul li a:hover{
    border-color: #E62714;
    background: #E62714;
}

.agn-home-blog .single-blog-post .flip-box-back{
    background: #E62714;
}

.agn-home-blog .single-blog-post .flip-box-back .author-info .name, .agn-home-blog .single-blog-post .flip-box-back .author-info .date{
    font-family: "Open Sans", Sans-serif;
}

.theme-menu-three .navbar .navbar-toggler{
    color: #fff !important;
}

.theme-footer-one .top-footer .footer-information ul li a{
    color: #000;
    border: 1px solid #000;
}

@media only screen and (max-width: 767px) {
    .solid-inner-banner {
        padding: 140px 0px 0 !important;
    }
}