hr.wp-block-separator {
    background-color: #767676;
    border: 0;
    height: 2px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: left;
    display: block;
    clear: both;
}

/** === Button === */
.wp-block-button__link {
    color: #5e2ced;
    background: #e8e1fc;
    display: inline-block;
    padding: 11px 40px;
    border-radius: 4px;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
    font-family: "CircularStd-book", sans-serif;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.wp-block-button {
    color: #5e2ced;
}

.blog_list_item .blog_content .wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:hover {
    background: #5e2ced;
    color: #fff;
}

.is-style-outline a.wp-block-button__link {
    color: #5e2ced;
    border: 2px solid #5e2ced;
}

a:not([href]):not([tabindex]):hover,
.is-style-outline a.wp-block-button__link:hover {
    background-color: #5e2ced;
    color: #fff;
}

figure.wp-block-image.alignleft {
    margin-right: 20px;
}

/** === Separator === */
.wp-block-separator.is-style-dots {
    padding: 10px 0;
}

.wp-block-separator.is-style-dots:before {
    content: "\00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7";
    color: #767676;
    font-size: 1.6875em;
    letter-spacing: calc(1.5 * 1rem);
    padding-left: calc(1.5 * 1rem);
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    max-width: 250px;
}

/** === Align width === */
.guten_elements > *.alignwide {
    max-width: 1024px;
}

.alignleft img {
    float: left;
}

.alignright img {
    float: right;
}

.guten_elements .alignfull {
    margin-left  : calc( -100vw / 2 + 100% / 2 );
    margin-right : calc( -100vw / 2 + 100% / 2 );
    max-width    : 100vw;
}

.guten_elements .alignwide {
    margin-left  : -100px;
    margin-right : -100px;
    max-width    : 1024px;
}

/** === Cover Image === **/
.wp-block-cover p,
.our-blog .post-data .wp-block-cover p {
    line-height: 1.25;
    margin-bottom: 0;
    color: #fff;
}

.wp-block-cover p.has-small-font-size,
.our-blog .post-data .wp-block-cover p.has-small-font-size {
    font-size: 13px;
}

.wp-block-cover p.has-medium-font-size,
.our-blog .post-data .wp-block-cover p.has-medium-font-size {
    font-size: 20px;
}

.wp-block-cover p.has-large-font-size,
.our-blog .post-data .wp-block-cover p.has-large-font-size {
    font-size: 36px;
}

.wp-block-cover p.has-huge-font-size,
.our-blog .post-data .wp-block-cover p.has-huge-font-size {
    font-size: 48px;
}

.our-blog .post-data .wp-block-cover-image .wp-block-cover__inner-container,
.our-blog .post-data .wp-block-cover-image .wp-block-cover__inner-container p,
.our-blog .post-data .wp-block-cover .wp-block-cover__inner-container p,
.our-blog .post-data .wp-block-cover .wp-block-cover__inner-container {
    color: #fff;
}

/** === Blockquote === **/
blockquote cite a {
    font-style: normal;
    font-size: 14px;
    color: #848ca5;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 22px;
    display: inline-block;
    text-transform: uppercase;
}

.our-blog .post-data  blockquote p,
blockquote p {
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 0;
}

blockquote {
    color: #525c7c;
}

blockquote.wp-block-quote.is-style-large p {
    font-size: 24px;
}

.blog-details .post-data .wp-block-column blockquote.wp-block-quote {
    padding-left: 35px;
    margin: 20px 0 30px;
}

.blog-details .post-data .wp-block-column blockquote.wp-block-quote::before {
    width: 26px;
    height: 2px;
    position: absolute;
    top: 14px;
}

.blog-details .post-data .wp-block-column blockquote.wp-block-quote p {
    font-size: 20px;
    line-height: 1.4em;
}

.blog-details .post-data blockquote.wp-block-quote, .blog-details .post-data blockquote cite,
blockquote cite {
    font-size: 16px;
}

.blog-details .post-data .wp-block-column blockquote.wp-block-quote cite {
    font-size: 14px;
}

/** === Pullquote === **/
.our-blog .post-data figure.wp-block-pullquote.aligncenter blockquote p,
.our-blog .post-data figure.wp-block-pullquote.alignwide blockquote p,
.our-blog .post-data figure.wp-block-pullquote.alignfull blockquote p,
figure.wp-block-pullquote.aligncenter blockquote p {
    font-size: 28px;
    line-height: 1.6;
}

.wp-block-pullquote.alignleft, .wp-block-pullquote.alignright,
.our-blog .post-data .wp-block-pullquote.alignleft,
.our-blog .post-data .wp-block-pullquote.alignright {
    padding: 0;
}

.our-blog .post-data .wp-block-pullquote.alignleft blockquote p,
.our-blog .post-data .wp-block-pullquote.alignright blockquote p {
    font-size: 16px;
    line-height: 1.6em;
}

.wp-block-pullquote.alignleft blockquote,
.wp-block-pullquote.alignright blockquote,
.our-blog .post-data .wp-block-pullquote.alignleft blockquote,
.our-blog .post-data .wp-block-pullquote.alignright blockquote {
    padding: 30px 15px 15px 15px !important;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wp-block-pullquote:before,
.wp-block-pullquote:after,
.wp-block-pullquote blockquote:before,
.wp-block-pullquote blockquote:after {
    display: none !important;
}

.page_wrapper p {
    font-weight: 400;
}

figure.wp-block-pullquote {
    padding-top: 0;
    padding-bottom: 0;
}

.wp-block-pullquote {
    background-color: white;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(20, 3, 67, 0.08);
    box-shadow: 0px 10px 30px 0px rgba(20, 3, 67, 0.08);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    border-left: 6px solid #5e2ced;
    z-index: 0;
    margin: 40px 0px 45px;
}

.blog-details .post-data .wp-block-pullquote blockquote,
.wp-block-pullquote blockquote {
    padding: 0 25px;
    margin: 42px 0 50px;
}

/** === Image === **/
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.wp-block-image figcaption {
    font-weight: 400;
    text-align: center;
}

/** === Column === **/
@media (min-width: 600px) {
    .wp-block-column:not(:first-child), .wp-block-column:nth-child(2n) {
        margin-left: 15px;
    }
    .wp-block-column:not(:last-child) {
        margin-right: 15px;
    }
    .wp-block-column:nth-child(odd) {
        margin-right: 15px;
    }
    .single-service .wp-block-column:nth-child(odd) {
        padding-right: 25px;
    }
    .single-service .wp-block-column:nth-child(even) {
        padding-left: 25px;
    }
}

.wp-block-columns {
    padding-top: 15px;
}

.wp-block-column h4 {
    margin-bottom: 14px;
}

.wp-block-separator {
    margin: 60px 0px;
}

.wp-block-column ul,
.wp-block-column ol {
    padding: 0;
}

/** === Colors and Paragraph === **/
p.has-text-color.has-background.has-very-light-gray-color {
    color: rgb(238, 238, 238);
    margin-bottom: 20px;
}

p.has-text-color.has-background {
    line-height: 1.6em;
}