/** === Global Things === **/
.woocommerce-notices-wrapper {
    width: 100%;
    margin-left: 40px;
}

/** === Product Grid === **/
.product-showcase .single-product-case .info .cart-button {
    background: transparent;
    padding: 0;
}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering,
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
    margin: 0;
}

a.added_to_cart.wc-forward {
    display: none;
}

.product-showcase .single-product-case .info .ajax_add_to_cart.added:before,
.product-showcase .single-product-case .info .ajax_add_to_cart.added:after {
    display: none;
}

.ajax_add_to_cart.added span {
    transform: scale(1) !important;
}

.ajax_add_to_cart.added span .fa-shopping-cart::before {
    content: "\f00c" !important;
}

/** === Shop Sidebar === **/
.theme-sidebar-widget .single-block:first-child {
    margin-top: 95px;
}

.theme-sidebar-widget .sidebar-search input {
    background: #fff;
}

.theme-sidebar-widget ul li a {
    position: relative;
    line-height: 42px;
    font-size: 18px;
    color: #4e4e4e;
}

.shop-sidebar ul ul.sub-menu, .shop-sidebar ul ul.children {
    padding-top: 0;
    padding-left: 20px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal {
    background: #eeeeee !important;
    border: none;
    height: 5px;
    border-radius: 5px;
    margin-bottom: 22px;
    max-width: 350px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background: #FF3A46;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(207, 207, 207, 0.61);
}

.woocommerce .widget_price_filter .price_slider_amount .button {
    display: block;
    text-align: center;
    width: 100px;
    border: 1px solid #dfdfdf;
    line-height: 24px;
    font-size: 15px;
    color: rgba(29,29,29,0.4);
    background: #fff;
    transition: all .3s;
}

.theme-sidebar-widget ul li a:hover {
    color: #FF3A46;
}

.widget_product_tag_cloud .tagcloud a:hover,
.woocommerce .widget_price_filter .price_slider_amount .button:hover {
    background: #FF3A46;
    color: #fff;
}

.widget_product_tag_cloud .tagcloud a {
    text-align: center;
    border: 1px solid #dfdfdf;
    line-height: 38px;
    font-size: 15px !important;
    color: rgba(29,29,29,0.4);
    margin-right: 5px;
    padding: 0 15px;
    transition: all .3s;
    margin-bottom: 10px;
}

/** === Product Details === **/
.shop-details {
    margin-top: 120px;
}

.star-rating {
    float: left;
    margin-top: 2px;
    color: #ffbd3a;
}

.comment-form-rating a,
.star-rating::before {
    color: #ffbd3a;
}

.rogan_ratting {
    display: flex;
}

.rogan_ratting .reviews_count {
    color: #a2a2a2;
    margin-left: 10px;
}

input.product-value::-webkit-outer-spin-button,
input.product-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield; /* Firefox */
}

.shop-details .procuct-details .product-info .quantity {
    padding-right: 30px;
}

.shop-details .procuct-details .product-info .quantity ul .product-value {
    max-width: none;
    position: relative;
    padding: 0;
    line-height: 50px;
}

.shop-details .procuct-details .product-info .quantity ul {
    height: 50px;
}

.shop-details .procuct-details .product-info .quantity ul li button.value-decrease {
    padding-left: 5px;
}

.shop-details .procuct-details .product-info .quantity ul li button.value-increase {
    padding-right: 5px;
}

span.sku_wrapper {
    display: block;
}

.shop-details .product-review-tab .nav-tabs li a {
    margin: 0 60px 0 0;
}

.product-showcase .single-product-case .info .price ins {
    text-decoration: none;
}

.woocommerce #reviews #comments h2.woocommerce-Reviews-title {
    font-size: 28px;
    margin-bottom: 45px;
}

.user-comment-area .single-comment > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-comment-area .single-comment .user-comment-data .name {
    margin: 0;
}

.woocommerce #review_form_wrapper #respond {
    margin-top: 40px;
}

.comment-form-area form input {
    height: 60px;
    padding: 0 25px;
}

.comment-form-area form input,
.comment-form-area form textarea {
    border: 1px solid #dcdcdc;
    width: 100%;
    max-width: 100%;
    margin-bottom: 35px;
    color: #989ca2;
}

.comment-form-area form input:focus,
.comment-form-area form textarea:focus {
    border-color: #383838;
}

.shop-details .product-review-tab .tab-content p.comment-notes {
    margin-bottom: 20px;
}

.shop-details .procuct-details .nav-tabs > li > a {
    margin-right: 17px;
}

.shop-details .procuct-details .nav-tabs > li:last-child > a {
    margin-right: 0 !important;
}

/** === Cart Page === **/
.cart-list-form .table tbody td.product-thumbnail {
    width: 85px;
    height: auto;
}

.cart_item .order-box .qty {
    padding: 0;
}

.cart-section .cart-footer {
    margin-top: 0;
}

.cart-list-form .table tbody td {
    padding-bottom: 50px;
}

.checkout-form input,
.cart-section .cart-footer .coupon-form input {
    padding: 0 !important;
}

input#billing_state-selectized {
    height: 38px;
}

/** === Checkout === **/
.ship-different-address {
    position: relative;
    font-family: 'CircularStdmed';
    font-size: 16px;
    line-height: 15px;
    padding-left: 30px;
    color: #1a1a1a;
    cursor: pointer;
    margin: 0 0 20px;
}

input#ship-to-different-address-checkbox[type="checkbox"] {
    display: none;
}

.woocommerce-page form .form-row label.checkbox span {
    position: relative;
    padding-left: 30px;
}

input#ship-to-different-address-checkbox[type="checkbox"] + span::before {
    content: '';
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    font-size: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    top: -1px;
}

input#ship-to-different-address-checkbox[type="checkbox"]:checked + span::before {
    content: "\f107";
    font-family: "Flaticon";
    background: #373737;
    color: #fff;
    border-color: #373737;
}

.form-row-wide {
    clear: both;
    width: 100%;
}

.form-row.create-account label {
    display: inline-block;
}

.form-row input[type=checkbox], .form-row input[type=radio] {
    width: auto;
}

#order_comments_field label {
    font-family: 'CircularStdmed';
    font-size: 16px;
    color: #1a1a1a;
    padding-bottom: 8px;
}

.woocommerce-input-wrapper #order_comments {
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 15px;
    resize: none;
    height: 145px;
}

.woocommerce ul#shipping_method label {
    font-size: 14px;
}

#order_review th.product-total {
    text-align: right;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: transparent;
}

.checkout-form .order-confirm-sheet .order-review .payment-list li p {
    padding-bottom: 0;
}
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
    background: #eeeeed;
}

#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before {
    content: "";
    display: block;
    border: 1em solid #eeeeee;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.checkout-form .order-confirm-sheet .policy-text p {
    line-height: 22px;
}

form.checkout_coupon.woocommerce-form-coupon .dark-button-one {
    margin-left: -75px;
    height: 60px;
}

/** === Order Page ==== **/
.woocommerce-order .main-title {
    font-family: 'CircularStdmed';
    font-size: 28px;
    color: #1d1d1d;
    padding-bottom: 20px;
}

.woocommerce-order  table.shop_table td,
.woocommerce-order  table.shop_table th {
    padding: 10px !important;
}

.woocommerce-privacy-policy-text p {
    font-size: 15px;
    line-height: 22px;
    color: #979797;
    padding: 25px 0 20px;
}

.woocommerce-terms-and-conditions-wrapper label.checkbox {
    position: relative;
    font-family: 'CircularStdmed';
    font-size: 16px;
    color: #1a1a1a;
    cursor: pointer;
    margin-bottom: 35px;
    display: block !important;
    line-height: 1.6 !important;
}

.woocommerce-terms-and-conditions-wrapper label.checkbox input#terms {
    display: none;
}

.woocommerce-page form .woocommerce-terms-and-conditions-wrapper input[type="checkbox"]:checked + span.woocommerce-terms-and-conditions-checkbox-text::before {
    content: "";
    font-family: 'font-awesome';
    color: rgb(255, 255, 255);
    background: rgb(55, 55, 55);
    border-color: rgb(55, 55, 55);
}

.woocommerce-page form .woocommerce-terms-and-conditions-wrapper label.checkbox span.woocommerce-terms-and-conditions-checkbox-text:before {
    content: '';
    width: 15px;
    height: 15px;
    line-height: 12px;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    font-size: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 1px;
}

.woocommerce-page form .form-row label.checkbox span.required {
    padding-left: 2px;
}

.checkout-form .order-confirm-sheet .order-review .product-review tbody td.product-name {
    float: left;
}